body{
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    
}
header{
    background: rgb(205, 93, 153);
    text-align: center;
    padding: 5px;
    border-radius: 3px;
}
.container{
    margin: 5px;
}
table{
    border: solid 2px ;
    border-radius: 4px;
    margin: 2px;
    background-color:thistle;
    margin: 5px;
}
th,td{
    border: solid 2px;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
}
a{
    color: white;
}
mark{
    margin: 5px;
    background: rgb(205, 93, 153);
    border-radius: 2px;
    padding: 3px;
}
footer{
text-align: center;
}
small{
    color: gray;
}